@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.display-none {
  display: none;
}

ul {
  list-style-type: none;
}

.mobile-main {
  background-color: #f7f7f9;
  position: relative;
  width: 375px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.my-logo {
  animation-name: rotate-logo;
  animation-duration: 2s;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  margin-top: 15px;
  margin-left: 18px;
  cursor: pointer;
  text-decoration: none;
}

@keyframes rotate-logo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.burger-menu {
  margin-top: 15px;
  margin-right: 35px;
  width: 16px;
  background: white;
}

.burger-menu button {
  cursor: pointer;
  background-color: white;
  border: none;
}

#background-design {
  background: white;
  border-bottom-left-radius: 75px;
}

.headline {
  position: absolute;
  left: 24px;
  top: 114px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.headline-text {
  position: absolute;
  left: 24px;
  top: 300px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  width: 327px;
}

.lets-connect {
  position: absolute;
  left: 24px;
  top: 450px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.social-media-icons {
  position: absolute;
  width: 170.17px;
  height: 20px;
  top: 505px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-left: 24px;
  margin-top: 0;
}

.works {
  display: grid;
  position: absolute;
  width: 375px;
  height: 2788px;
  left: 0;
  right: 0;
  top: 700px;
}

.card {
  border: 1px solid #dfe1e6;
  padding: 16px;
  position: relative;
  width: 327px;
  height: 552px;
  left: calc(50% - 327px / 2);
  top: 114px;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: white;
}

.project-pic {
  position: static;
  width: 295px;
  height: 220px;
  left: 16px;
  top: 16px;
}

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 295px;
  height: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 12px 0;
  color: #172b4d;
}

.project-subtitle {
  display: flex;
  align-items: center;
}

.project-subtitle-left {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-right: 10px;
}

.project-subtitle-right {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.dot {
  align-self: center;
  position: static;
  width: 8px;
  height: 8px;
  margin-left: 10px;
  margin-right: 10px;
  top: 12px;
}

.project-description {
  position: static;
  width: 295px;
  height: 76px;
  left: 0;
  top: 80px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.project-description p {
  margin-top: 0;
}

.modal-project-description {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.project-labels {
  margin-top: 7px;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.project-labels li {
  margin-right: 15px;
  float: left;
}

.see-project-button {
  width: 124px;
  height: 48px;
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 15px;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  background: white;
}

.see-project-button:hover {
  transform: scale(1.03);
}

.see-project-button a {
  color: #396df2;
  text-decoration: none;
  animation-name: change-color;
  animation-duration: 2s;
}

@keyframes change-color {
  from {
    background-color: #396df2;
  }

  to {
    background-color: gray;
  }
}

.multi-line {
  margin-bottom: 45px;
}

.about {
  display: flex;
  position: absolute;
  width: 375px;
  height: 550px;
  left: 0;
  top: 3480px;
  background: #fff;
  border-top-right-radius: 75px;
}

.headline-text-2 {
  position: absolute;
  left: 24px;
  top: 230px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  width: 327px;
}

.headline-2 {
  position: absolute;
  top: 100px;
  left: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.lets-connect-2 {
  position: absolute;
  left: 24px;
  top: 380px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social-media-icons-2 {
  position: absolute;
  width: 170.17px;
  height: 20px;
  top: 450px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-left: 24px;
  margin-top: 0;
}

.get-my-resume {
  position: absolute;
  top: 490px;
  left: 24px;
}

.skills {
  position: absolute;
  top: 4050px;
  left: 24px;
  margin-top: 30px;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills div {
  display: flex;
  align-items: center;
}

.skills-titles {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.arrow {
  position: absolute;
  left: 275px;
}

.languages div {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 10px;
}

.languages p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4000px;
  margin-bottom: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -700px;
}

.content h2 {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-bottom: 0;
}

.content p {
  width: 327px;
  height: 102px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  color: #ebebff;
  margin-bottom: 60px;
  text-align: center;
}

.content form {
  margin-left: 24px;
}

.content input {
  width: 310px;
  height: 48px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 15px;
  padding-left: 16px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
}

.content textarea {
  width: 310px;
  height: 170px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding-left: 16px;
  padding-top: 16px;
  font-size: 15px;
  color: #b3bac5;
}

.get-in-touch {
  width: 140px;
  height: 48px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 12px 16px;
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
  color: #6070ff;
  font-size: 14px;
}

.button:hover {
  transform: scale(1.05);
}

#home-indicator {
  width: 134px;
  height: 5px;
  margin-top: 60px;
}

#contact-form-background {
  position: absolute;
  width: 265px;
  height: 709.17px;
  left: 110px;
  top: 4650px;
}

/* Mobile pop up */
.mobile-pop-up-background {
  background: #c1c7d0;
  position: fixed;
  top: 0;
  left: 0;
  width: 375px;
  height: 100vh;
  padding: 10px;
  overflow-y: auto;
}

.modal-body-mobile {
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: relative;
  width: auto;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 10px auto;
}

.image-container-mobile {
  height: 55%;
  width: auto;
}

.image-container-mobile .mobile-popup-img {
  width: 100%;
  border-radius: 7px;
  object-fit: cover;
}

.project-description-mobile {
  left: 0;
  top: 80px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.mobile-popup-buttons {
  display: flex;
  justify-content: space-between;
}

.botton-mobile-elements {
  display: inline;
}

.buttons-mobile-popup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
}

.mobile-popup-skills {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .mobile-main {
    width: 100%;
  }

  .burger-menu {
    display: none;
  }

  .nav-items {
    display: flex;
    list-style-type: none;
  }

  .nav-items li {
    margin-left: 32px;
  }

  #background-design {
    display: none;
  }

  .headline-bg-desktop {
    background-color: white;
  }

  .desktop-headline-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -500px;
    background-color: white;
  }

  .headline-section {
    display: none;
  }

  .desktop-headline-section h2 {
    width: 920px;
    height: 122px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    color: #091e42;
    margin-left: 200px;
  }

  .desktop-headline-section p {
    width: 850px;
    height: 98px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    margin-left: 140px;
  }

  #lets-connect-3 {
    margin-top: -10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .desktop-headline-section ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    padding-left: 0;
    margin-left: -570px;
    margin-top: -80px;
  }

  .desktop-headline-section li {
    margin-left: 15px;
  }

  .card {
    width: 1156px;
    height: 496px;
    flex-direction: column;
    left: 25px;
    right: 0;
  }

  .project-pic {
    width: 544px;
    height: 448px;
  }

  .project-title {
    margin-top: -400px;
    margin-left: 575px;
  }

  .project-subtitle {
    margin-left: 575px;
  }

  .project-description {
    margin-left: 575px;
    width: 496px;
    color: #344563;
  }

  .project-labels {
    margin-left: 575px;
  }

  .see-project-button {
    margin-left: 575px;
  }

  .second-card {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .multi-div {
    margin-top: 430px;
    margin-right: 50px;
  }

  .skills_about {
    display: flex;
  }

  .about {
    position: relative;
    top: 2780px;
    left: 100px;
    width: 1440px;
  }

  .skills {
    top: 3560px;
    left: 630px;
  }

  .works {
    margin-left: 100px;
    width: 100%;
  }

  .languages {
    display: flex;
  }

  .languages div {
    flex-direction: column;
    margin-left: 15px;
    width: 125px;
    height: 122px;
    margin-bottom: 30px;
    padding-top: 25px;
  }

  .headline-text-2 {
    width: 447px;
    height: 102px;
    margin-bottom: 0;
  }

  .lets-connect-2 {
    margin-top: -15px;
    margin-bottom: 0;
  }

  .social-media-icons-2 {
    top: 400px;
    padding-left: 10px;
  }

  .arrow {
    left: 560px;
  }

  .separator {
    width: 600px;
  }

  .mobile-background {
    display: none;
  }

  #contact-form-background {
    display: none;
  }

  .content {
    width: 100%;
  }

  .content form {
    display: flex;
    flex-direction: column;
  }

  .footer {
    width: 100%;
    margin-top: 2900px;
    height: 750px;
  }

  #desktop-background {
    width: 100%;
  }

  #contact-form-shapes-background {
    position: relative;
    top: -750px;
    right: 60px;
  }

  .content p {
    width: 569px;
    font-size: 20px;
  }

  #get-in-touch {
    margin: 0 auto;
  }

  #home-indicator {
    display: none;
  }

  form textarea {
    margin-bottom: 15px;
  }

  body {
    background-color: #f7f7f9;
    margin: 0;
    padding: 0;
  }
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .headline-bg-desktop {
    display: none;
  }

  .desktop-headline-section {
    display: none;
  }

  #desktop-background {
    display: none;
  }
}

.mobile-menu-background {
  background: #6070ff;
  height: 100vh;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.9;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.home-indicator {
  margin: 0 auto;
  position: absolute;
  left: 40%;
  bottom: -240px;
}

.menu-mobile-div {
  position: relative;
}

.close-menu {
  position: absolute;
  left: 340px;
  top: -20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 76px 28px;
  list-style: none;
}

.mobile-menu-items {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin-top: 10px;
}

.mobile-menu-items a {
  text-decoration: none;
  color: white;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 12px 0;
  color: #172b4d;
}

.desktop-popup-background {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 30px 50px;
  background: #c1c7d0;
}

.desktop-popup-body {
  background: white;
  position: relative;
  width: auto;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid white;
  border-radius: 8px;
}

/* desktop pop up */

.modal-subtitle {
  display: flex;
  align-items: center;
}

.modal-skills {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.modal-project-labels {
  display: flex;
  margin-bottom: 20px;
  gap: 5%;
  justify-content: start;
  padding-left: 0;
  flex-wrap: wrap;
}

.buttons-desktop-popup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 142px;
  padding: 10px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
}

#modal-image-desktop {
  width: 100%;
}

#projects {
  display: none;
}
