@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.mobile-main {
  background-color: #f7f7f9;
  position: relative;
  width: 375px;
  height: 5410px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.my-logo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  margin-top: 15px;
  margin-left: 18px;
  cursor: pointer;
}

.burger-menu {
  margin-top: 15px;
  margin-right: 25px;
  cursor: pointer;
  width: 16px;
}

.headline {
  position: absolute;
  left: 24px;
  top: 114px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.headline-text {
  position: absolute;
  left: 24px;
  top: 300px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  width: 327px;
}

.lets-connect {
  position: absolute;
  left: 24px;
  top: 450px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social-media-icons {
  position: absolute;
  width: 170.17px;
  height: 20px;
  left: 24px;
  top: 505px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.twitter-icon {
  cursor: pointer;
}

.linkedin-icon {
  cursor: pointer;
}

.medium-icon {
  cursor: pointer;
}

.github-icon {
  cursor: pointer;
}

.victory-icon {
  cursor: pointer;
}
